main{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 50%;
    margin: 1rem;
    gap: 1rem;
    user-select: none;
}

.box{
    box-sizing: border-box;
    box-shadow:#66FF66 0px 5px 15px;
    padding: .4rem;
    transition: 10s ease-in-out;
    background-color:black;
    transform: rotateZ(-1deg);
}

.box:hover{
    padding: .6rem;
    box-shadow:inset#FF355E 0px 5px 15px;
    transform: rotateZ(179deg);
}





.box img{
    width: 100%;
    transition: 1s ease-in-out;
    box-shadow:#66FF66 0px 5px 15px;
}

.box img:hover{
    box-shadow:#FF355E 0px 5px 15px inset;
}



.box2{
    display: flex;
    box-sizing: border-box;
    text-align: center;
}

.box2>div{
    align-self: center;
    text-align: center;
    width: 100%;
}

.box2 h1{
    font-size: 2rem;
    width: 100%;
    font-style: italic;
    color: #50BFE6;
    text-shadow: 1px 1px 20px #50BFE6;
}

.box2 h2{
    width: 100%;
    font-size: 1rem;
    font-style: italic;
    color: red;
    text-shadow: 1px 1px 20px red;
}

@media screen and (max-width:500px){
    main{
        display: grid;
        grid-template-columns: 100%;
    }
}