main{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 50%;
    margin: 1rem;
    gap: 1rem;
    user-select: none;
}

.box{
    box-sizing: border-box;
    box-shadow:black 0px 5px 15px;
    padding: .4rem;
    transition: 10s ease-in-out;
    background-color:#FFCC33;
    transform: rotateZ(-1deg);
}

.box:hover{
    padding: .5rem;
    box-shadow:black 0px 5px 15px inset;
    /* background-color:#FF355E; */
    background:#FF355E;
    transform: rotateZ(179deg);

}





.box img{
    width: 100%;
    transition: 1s ease-in-out;
    box-shadow:black 0px 5px 15px;
}



.box2{
    display: flex;
    box-sizing: border-box;
    text-align: center;
}

.box2>div{
    align-self: center;
    text-align: center;
    width: 100%;
}

.box2 h1{
    font-size: 2rem;
    width: 100%;
    font-style: italic;
    color: black;
    text-shadow: 1px 1px 20px rgb(0, 0, 0);
}

.box2 h2{
    width: 100%;
    font-size: 1rem;
    font-style: italic;
    color: red;
    text-shadow: 1px 1px 20px red;
}

@media screen and (max-width:500px){
    main{
        display: grid;
        grid-template-columns: 100%;
    }
}