@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

#content{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}

main{
    overflow: hidden;
}

 h1 {
        color: white;
        text-transform: capitalize;
        font-family: 'Merienda One', cursive;
        width: 20ch;
        text-align: center;
        font-size: 3rem;
        transform: rotateZ(-5deg);
        background: linear-gradient(90deg,#FF6037,#50BFE6,#FF00CC);
        background-clip: text;
        color: transparent;
        background-size: 400%;
        animation: head 5s infinite alternate;
        font-weight: normal;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.285);
    }

    @keyframes head {
        0%{
            background-position: left;
            
        }
        100%{
            background-position: right;
        }
    }

#circle{
    position: absolute;
    width: 25vw;
    height:25vw;
    align-self: center;
    left: 0;
    border-radius: 50%;
    box-sizing: border-box;
}

#circle div{
    border: 0.4vw solid transparent;
    border-bottom: 0.4vw solid goldenrod;
    border-top: 0.4vw solid goldenrod;
    border-radius: 50%;
    padding: 10%;
    box-sizing: border-box;
    transform: rotateZ(20deg);
    animation: rotate 10s infinite alternate;
}



@keyframes rotate {
    0%{
        transform: rotateZ(0deg) scale(.1);
    }
    100%{
        transform: rotateZ(360deg) scale(1.1);
        opacity: 50%;
    }
}

