<main>
    <h1 class="right-head">Amar, here</h1>
    <p class="right-p">
        Hey, I am Amar Yamuna Vishwakarma.<br> A Full stack Webdevloper From India.<br> I Can Convert Your Ideas Into
        Fantastic Website. You can see my all website in Projects section.
    </p>
    <div class="circle">
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <div>
                                        <div>
                                            <div>
                                                <div>
                                                    <div>
                                                        <div>
                                                            <div>
                                                                <div>
                                                                    <div>
                                                                        <div>
                                                                            <div>
                                                                                <div>
                                                                                    <div>
                                                                                        <div>
                                                                                           
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<main>
    <h2 class="normalhead">
        What I Know ?
    </h2>
    <h3 class="front">
Front-end Languages
    </h3>
    <div class="btn-wrapper">
<a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">HTML</a>
<a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">CSS</a>
<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">JavaScript</a>
<a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a>
    </div>
    <div class="content-wrapper">
        <div class="orange">
            <h3>
                HTML
            </h3>
            <p>
                HTML (HyperText Markup Language) is the most basic building block of the Web. It defines the meaning and structure of web content. Other technologies besides HTML are generally used to describe a web page's 
            </p>
            <p>
                "Hypertext" refers to links that connect web pages to one another, either within a single website or between websites. Links are a fundamental aspect of the Web. By uploading content to the Internet and linking it to pages created by other people, you become an active participant in the World Wide Web.
            </p>
        </div>
        <div class="blue">
            <h3>
                CSS
            </h3>
            <p>
                Cascading Style Sheets (CSS) is a stylesheet language used to describe the presentation of a document written in HTML or XML (including XML dialects such as SVG, MathML or XHTML). CSS describes how elements should be rendered on screen, on paper, in speech, or on other media.
            </p>
            <p>
                CSS is among the core languages of the open web and is standardized across Web browsers according to W3C specifications. Previously, the development of various parts of CSS specification was done synchronously, which allowed the versioning of the latest recommendations. You might have heard about CSS1, CSS2.1, or even CSS3. There will never be a CSS3 or a CSS4; rather, everything is now CSS without a version number.
            </p>
        </div>
        <div class="yellow">
            <h3>
                JavaScript
            </h3>
            <p>
                JavaScript (JS) is a lightweight, interpreted, or just-in-time compiled programming language with first-class functions. While it is most well-known as the scripting language for Web pages, many non-browser environments also use it, such as Node.js, Apache CouchDB and Adobe Acrobat. JavaScript is a prototype-based, multi-paradigm, single-threaded, dynamic language, supporting object-oriented, imperative, and declarative (e.g. functional programming) styles.
            </p>
            <p>
                JavaScript's dynamic capabilities include runtime object construction, variable parameter lists, function variables, dynamic script creation (via eval), object introspection (via for...in and Object utilities), and source-code recovery (JavaScript functions store their source text and can be retrieved through toString()).
            </p>
        </div>
        <div class="cyan">
            <h3>
                TypeScript
            </h3>
            <p>
                TypeScript is a strongly typed programming language that builds on JavaScript, giving you better tooling at any scale.
            </p>
            <p>
                TypeScript adds additional syntax to JavaScript to support a tighter integration with your editor. Catch errors early in your editor.
            </p>
            <p>
                TypeScript code converts to JavaScript, which runs anywhere JavaScript runs: In a browser, on Node.js or Deno and in your apps.
            </p>
            <p>
                TypeScript understands JavaScript and uses type inference to give you great tooling without additional code.
            </p>
        </div>
    </div>

    <h3 class="front">
Server side Scripting & DataBase Languages
    </h3>
    <div class="btn-wrapper-script">
        <a href="https://www.php.net/" target="_blank">PHP</a>
        <a href="https://www.mysql.com/" target="_blank">MySQL</a>
    </div>
    <div class="content-wrapper-script">
        <div class="php">
<h3>
PHP
</h3>
<p>
    A popular general-purpose scripting language that is especially suited to web development.
    Fast, flexible and pragmatic, PHP powers everything from your blog to the most popular websites in the world.
</p>
        </div>
        <div class="sql">
            <h3>
                MySQL
            </h3>
            <p>
                MySQL is a tool used to manage databases and servers, so while it's not a database, it's widely used in relation to managing and organising data in databases.
            </p>
        </div>
    </div>

    <h3 class="front">
        For Programming & DSA
    </h3>
    <div class="btn-wrapper-prog">
        <a href="https://www.python.org/" target="_blank">Python</a>
    </div>
    <div class="content-wrapper-prog">
        <div class="python">
            <h3>
                Python
            </h3>
            <p>
                Python's convenience has made it the most popular language for machine learning and artificial intelligence. Python's flexibility has allowed Anyscale to make ML/AI scalable from laptops to clusters.
            <p>
                Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting
            </p>
        </div>

    </div>


    <h3 class="front">
        Frameworks
    </h3>
    <div class="btn-wrapper-frame">
        <a href="https://www.python.org/" target="_blank">Angular</a>
        <a href="https://nodejs.org/en/" target="_blank">Node Js</a>
    </div>
    <div class="content-wrapper-frame">
        <div class="Angular">
            <h3>
                Angular
            </h3>
            <p>
                Angular is a development platform, built on TypeScript. As a platform, Angular includes:
            </p>
            <p>
                A component-based framework for building scalable web applications
            </p>
            <p>
                A collection of well-integrated libraries that cover a wide variety of features, including routing, forms management, client-server communication, and more
            </p>
            <p>
                A suite of developer tools to help you develop, build, test, and update your code
            </p>
        </div>
        <div class="NodeJs">
            <h3>
                Node Js
            </h3>
        <p>
            As an asynchronous event-driven JavaScript runtime, Node.js is designed to build scalable network applications.
        </p>
        <p>
            Node.js is an open-source and cross-platform JavaScript runtime environment. It is a popular tool for almost any kind of project!
        </p>
        <p>
            Node.js runs the V8 JavaScript engine, the core of Google Chrome, outside of the browser. This allows Node.js to be very performant.
        </p>
        <p>
            A Node.js app runs in a single process, without creating a new thread for every request. Node.js provides a set of asynchronous I/O primitives in its standard library that prevent JavaScript code from blocking and generally, libraries in Node.js are written using non-blocking paradigms, making blocking behavior the exception rather than the norm.
        </p>
        </div>
    </div>






    <h3 class="front">
        Librarys
    </h3>
    <div class="btn-wrapper-lib">
        <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
    </div>
    <div class="content-wrapper-lib">
        <div class="bootstrap">
            <h3>
                Bootstrap
            </h3>
            <p>
                Powerful, extensible, and feature-packed frontend toolkit. Build and customize with Sass, utilize prebuilt grid system and components, and bring projects to life with powerful JavaScript plugins. 
            </p>
        </div>

    </div>














    <h3 class="front">
        More Technology
            </h3>
            <div class="btn-wrapper-other">
        <a href="https://github.com/" target="_blank">Github</a>
        <a href="https://www.figma.com" target="_blank">Figma</a>
        <a href="https://wordpress.com/" target="_blank">WordPress</a>
        <a href="https://sass-lang.com/" target="_blank">Sass</a>
            </div>
</main>