
<main>
    <div>
        <h1>
            html
        </h1>
        <p>
            HTML is a type of markup language. It encapsulates, or “marks up” data within HTML tags, which define the data and describe its purpose on the webpage. The web browser then reads the HTML, which tells it things like which parts are headings, which parts are paragraphs, which parts are links, etc
        </p>
    </div>




    <div>
        <h1>
            css
        </h1>
        <p>
            CSS (Cascading Style Sheet) describes the HTML elements which are displayed on screen, paper, or in other media. It saves a lot of time. It controls the layout of multiple web pages at one time. It sets the font-size, font-family, color, background color on the page.
        </p>
    </div>




    <div>
        <h1>
            javascript
        </h1>
        <p>
            JavaScript is a scripting language that enables you to create dynamically updating content, control multimedia, animate images, and pretty much everything else. (Okay, not everything, but it is amazing what you can achieve with a few lines of JavaScript code.)
        </p>
    </div>




    <div>
        <h1>
            php
        </h1>
        <p>
            PHP stands for Hypertext Preprocessor. It is an open-source server-side scripting language used for dynamic web development and can be embedded into HTML codes.
        </p>
    </div>




    <div>
        <h1>
            my sql
        </h1>
        <p>
            MySQL is a relational database management system (RDBMS) developed by Oracle that is based on structured query language (SQL). A database is a structured collection of data. It may be anything from a simple shopping list to a picture gallery or a place to hold the vast amounts of information in a corporate network.
        </p>
    </div>





    <div>
        <h1>
            angular
        </h1>
        <p>
            Angular is an open-source, JavaScript framework written in TypeScript. Google maintains it, and its primary purpose is to develop single-page applications. As a framework, Angular has clear advantages while also providing a standard structure for developers to work with.
        </p>
    </div>
</main>



