/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: black;
    color: white;
    margin: 0;
    overflow-x: hidden;
}

main{
    max-width: 1000px;
    min-height: 100vh;
    margin: auto;
    padding: 1rem;
}

@media (max-width:600px) {
    html{
        font-size: 10px;
    }
}