/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    animation: bganimat 30s infinite ease-in-out;
    
}

@keyframes bganimat {
    0% {
        background-color: #ff355d7c;
    }

    10% {
        background-color: #fd5b797d;
    }

    20% {
        background-color: #ff5f3777;
    }

    30% {
        background-color: #ff99667b;
    }

    40% {
        background-color: #ff99337a;
    }

    50% {
        background-color: #ffcc3382;
    }

    60% {
        background-color: #ffff666f;
    }

    70% {
        background-color: #ffff666d;
    }

    80% {
        background-color: #ccff0075;
    }

    90% {
        background-color: rgba(25, 25, 112, 0.359);
    }

    100% {
        background-color: #AAF0D1;
    }
}



@media screen and (max-width:1000px) {
    * {
        font-size: 70%;
    }
}


@media screen and (max-width:500px) {
    * {
        font-size: 45%;
    }
}