<main>
    <a href="https://immortal-myecommerce.vercel.app/" target="_blank">Immortal --Ecommerce Website Created with Angular
        Framework</a>
    <a href="https://hostinger-clone-by-amarvcode.netlify.app" target="_blank">hostinger-clone by me</a>
    <a href="https://amazon-clone-amarvcode.netlify.app" target="_blank">Amazon clone by me</a>
    <a href="https://republic-bharat-by-amarvcode.netlify.app" target="_blank">R Bharat Clone With Using Angular Framework</a>
    <a href="https://i-am-master-mind.netlify.app/" target="_blank">Mind Reader By me </a>
    <a href="https://calculator-amarvcode.netlify.app" target="_blank">Calculator By me</a>
</main>


<div class="bg2">
    <div>😎</div>
    <div>😀</div>
    <div>😗</div>
    <div>
        🤔
    </div>
    <div>😋</div>
    <div>
        🥶
    </div>
    <div>
        🫠
    </div>
    <div>
        🤩
    </div>
    <div>
        🤗
    </div>
    <div>
        😫
    </div>
    <div>
        🤬
    </div>
    <div>😎</div>
    <div>😀</div>
    <div>😗</div>
    <div>
        🤔
    </div>
    <div>😋</div>
    <div>
        🥶
    </div>
    <div>
        🫠
    </div>
    <div>
        🤩
    </div>
    <div>
        🤗
    </div>
    <div>
        😫
    </div>
</div>