<main>
    <div>
    <a href="https://amazon-clone-amarvcode.netlify.app">Amazon clone By me</a>
    <a href="https://linked-in-clone-amarvcode.netlify.app">Linked In clone By me</a>
    <a href="https://insta-in-my-style-amarvcode.netlify.app">Instagram Sign up page</a>
    <a href="https://taptap-clone-amarvcode.netlify.app">Tap tap clone By me</a>
    <a href="https://mytube-amarvcode.netlify.app">Youtube clone by me</a>
    <a href="https://amarvcode-x-computech.netlify.app">Computech clone By me</a>
    <a href="https://vijay-sales-clone-amarvcode.netlify.app">Vijay sales clone By me</a>
    <a href="https://gaming-calculator.netlify.app">Gaming Calculator</a>
    <a href="https://my-first-reponsive-web-amarcode.netlify.app">Image Gallery</a>
    <a href="https://hdfc-bank-amarvcode.netlify.app">HDFC Bank Clone</a>
    <a href="https://republic-bharat-by-amarvcode.netlify.app">Republic Bharat News Clone</a>
    </div>
</main>