

nav{
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5rem;
}

nav a{
    color: white;
    font-size: 1.2rem;
    box-sizing: border-box;
    padding: 1rem;
    text-decoration: none;
    font-weight: 600;
    transition: 500ms;
    text-transform: uppercase;
    text-shadow: 1px 1px 20px black;
    background: linear-gradient(270deg,#FF355E,transparent,transparent);
    background-size: 200%;
    background-position: left;
}

nav a:hover{
    background-position: right;
}

.active{
    color: #7835ff;
}



