<!-- <nav>
    
   
    
    
  
</nav> -->


<header>
    <h1>

    </h1>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
        <ul>
            <li><a routerLinkActive="active" routerLink="/">Home</a></li>
            <li><a routerLinkActive="active" routerLink="/iknow">knows</a></li>
            <li><a routerLinkActive="active" routerLink="/about">About</a></li>
            <li><a routerLinkActive="active" routerLink="/contact">Contact</a></li>
            <li> <a routerLinkActive="active" routerLink="/project">Projects</a></li>
        </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
</header>